@import '../../constants/colors.sass'
@import '../../constants/templates.sass'
@import '../../constants/mixins.sass'
@import '../../constants/paddings.sass'

.requestcard
  @extend %cardStyle
  margin: auto
  border-radius: 3px

.requestcard__img
  +cropImg(180px, 150px)
  margin: auto 0
  padding: $cardtext_padding
  @media screen and ( max-width: 350px )
    +cropImg(100px, 150px)

.requestcard__text
  @extend %cardText

.requestcard__info
  font-size: 1rem
  color: $text_info_color
  @media screen and ( max-width: 767px )
    font-size: .8rem
