@import '../../constants/colors.sass'
@import '../../constants/templates.sass'
@import '../../constants/mixins.sass'
@import '../../constants/paddings.sass'

.ordercard
  @extend %cardStyle
  border-radius: 3px

.ordrcard__img
  +cropImg(170px, 150px)
  margin: auto 0
  padding: $cardtext_padding

.ordercard__text
  @extend %cardText
  .ordercard__status
    color: $text_info_color
  &.history__text
    margin-left: 10px
