@import '../../constants/colors'
  
.rating-modal
  z-index: 1000
  position: relative
  width: 320px
  height: 100px
  margin: 250px 0 0 250px
  background-color: $navbar_bgn
  border-radius: 5px

.rating-star
  margin: 0 5px
  color: $text_color
  font-size: 2rem

.gold-star
  color: $text_hover_color